<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  		<meta name="renderer" content="webkit">
  		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<link rel="stylesheet" type="text/css" href="__CSS__/nav.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/index.css" />
		<script src="__JS__/jquery-3.3.1.min.js"></script>
	</head>
	<body>
		<div class="img-code">
			<img src="__IMAGE__/gzewm.jpg"/>
			长按后识别图中二维码，并关注公众号进行投票
		</div>
	</body>
</html>