<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  		<meta name="renderer" content="webkit">
  		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<link rel="stylesheet" type="text/css" href="__CSS__/nav.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/index.css" />
		<script src="__JS__/jquery-3.3.1.min.js"></script>
	</head>
	<body>
		<section class="box">
			<a href="/index.php/home/votelist/index">
			<img class="img-view" src="__IMAGE__/banner.png" />
			<h3><span>我在广西那些年</span>摄影大赛</h3>
			</a>
		</section>
		
		<section class="box">
			<div class="rule">
				<h2>活动奖品</h2>
				<img class="img-view" src="__IMAGE__/awards.png" alt="" />
				<h2>活动细则</h2>
				<div class="marin-30">
					<strong>一、活动主题</strong>
					<p>寻找你在广西这些年的老照片</p>
				</div>
				<div class="marin-30">
					<strong>二、活动目的</strong>
					<p>风雨同舟一甲子，春华秋实六十年，2018年12月11日是广西壮族自治区成立60周年纪念日。</p>
					<p>广西敬和心文化传播有限公司为庆祝广西60华诞，反映60年来广西在党中央的亲切关怀下，经济社会发展蒸蒸日上，各族人民团结安定生活美好，为了让更多人认识广西的风土人情、了解广西的美丽故事，我们特别邀请与广西有缘的你参加此次摄影大赛。</p>
				</div>
				<div class="marin-30">
					<strong>三、大赛日程及奖项</strong>
					<p>1、报名参赛及投票时间：2018年12月01日12:00—2018年12月11日23:59分。</p>
					<p>2、获奖名单将于2018年12月12日同步公布在官方微信公众号“敬和忆宝”和“敬和忆宝平台服务”上，并通知到获奖参赛者。</p>
					<p>3、按参赛作品所获投票数设置奖项：</p>
					<p>特等奖：1名，666元现金红包</p>
					<p>一等奖：2名，300元祖VIP全国通用蛋糕卡</p>
					<p>二等奖:16名，100元京东提货券</p>
					<p>三等奖:26名，66元童年经典怀旧零食大礼包</p>
				</div>
				<div class="marin-30">
					<strong>四、参赛规则</strong>
					<p>1、只要你是广西的有缘人，无论你是否身在广西，请通过活动页面上传精心收藏的老照片，并写下照片中的故事。</p>
					<p>2、每位参赛者只能上传1张照片参赛，参赛者提交的作品需通过后台审核方可进入投票环节，照片一经审核通过恕不能替换修改。</p>
					<p>3、请在上传参赛照片时留下有效联系方式，以便获奖时联系。</p>
				</div>
				<div class="marin-30">
					<strong>五、审核标准</strong>
					<p>1、为了维护全体参赛者的利益，本次活动秉承公平、公正、公开的原则，对所有参赛照片进行严格审核。</p>
					<p>2、照片画面尽量清晰可辩，内容包含人物和广西当地自然风光、人文景观，恕不接受纯风景、静物照片。</p>
					<p>3、参赛照片不得含有涉及色情、恐怖、暴力等不良信息内容。如未通过后台审核，请自行替换修改。</p>
					<p>4、参赛者一旦上传照片，即视为同意并遵守以上规则。</p>
				</div>
				
				<div class="marin-30">
					<strong>六、投票方法</strong>
					<p>1、关注官方微信公众号“敬和忆宝平台服务”，回复关键字“投票”，或通过好友分享的活动页面都可进行投票。每人每天可获得6张选票，可以同时对多个参赛照片进行投票。参赛者可以为自己的作品投票。</p>
					<p>2、系统每天赠送的选票当天有效，不可累计。通过使用邀请码获得的额外选票不会清零，可累计用于投票。</p>
				</div>
				<div class="marin-30">
					<strong>七、邀请码和额外奖励选票</strong>
					<p>1、每名参赛者提交参赛照片并通过审核后可获得1个专属邀请码。</p>
					<p>2、使用专属邀请码邀请好友参加比赛，好友提交参赛照片时填写邀请码并通过审核后，邀请人可以获得6张额外奖励选票</p>
					<p>3、专属邀请码可以用于邀请多人参赛。</p>
					
				</div>
				<div class="marin-30">	
					<strong>九、其它</strong>
					<p>活动举办方：广西敬和心文化传播有限公司</p>
					<p>客服电话：19968212208</p>
					<p>微信咨询：关注官方微信公众号敬和忆宝平台服务，后台直接回复有关问题欢迎详询。</p>
				</div>	
				<p style="text-align: right;">广西敬和心文化传播有限公司</p>
				<p style="text-align: right;">2018年12月01日</p>
			</div>
		</section>
		
		<!--导航栏-->
		<section class="tabbar">
			<ul>
				<li><a href="/index.php/home/index/index" class="cur">首页</a></li>
				<li><a href="/index.php/home/vote/index">报名</a></li>
				<li><a href="/index.php/home/votelist/index">榜单</a></li>
				<li><a href="/index.php/home/myinfo/index">我的</a></li>
			</ul>
		</section>
		
		<script type="text/javascript" src="__JS__/nav.js" ></script>
		
	</body>
</html>
